# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/

# Xcode playgrounds
timeline.xctimeline

# macOS
.DS_Store
